<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Promoções</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to 'Sistema de Promoções', root_path, class: 'navbar-brand' %>
        <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
          <ul class="nav justify-content-end">
            <% if user_signed_in? %>
              <%= render partial: 'shared/logged_menu'%>
            <% else %>
              <%= render partial: 'shared/not_logged_menu'%>
            <% end %>
          </ul>
        <%# </div> %>
      </div>
    </nav>
    <div class='container mb-4'>
      <p><%= flash[:notice] %></p>
      <p><%= flash[:alert] %></p>
      <%= yield %>
    </div>
  </body>
</html>
